<% include partials/header.ejs %>

  <hr>
  <main>
    <figure id="picMain">
      <img src="img/android.png" alt="Mobile Operating Systems">
    </figure>
    <div class="col-md-auto">
      <article class="text">
        <h2>Android Operating System</h2>
        <p>
          Android is a widely-used open-source project run by the company Google. Android was inspired by the Apple iOS which came out a year earlier. Google actively develops the Android platform but gives a portion of it for free to hardware manufacturers and
          phone carriers who want to use Android on their devices. Google only charges manufacturers if they also install the Google apps portion of the OS. Many (but not all) major devices that use Android also opt for the Google apps portion of the
          service.

        </p>
      </article>
    </div>
    <br> <br>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/ChkZkYIePfY" border="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </main>
  <hr>
  <p>
    <strong>Sources:</strong>
    <a href="https://www.androidauthority.com/history-android-os-name-789433/">
                        The history of Android OS: its name, origin and more
                    </a>
  </p>
  <% include partials/footer.ejs %>