<% include partials/header.ejs %>
<div class="container">
  <div class="row">
    <figure id="picMain">
      <img src="img/mobilepics.png" alt="Mobile Operating Systems">
    </figure>
  </div>
  </div>
    <br>
  <div class="container">
  <div class="row">
      <div class="col-lg-4">
        <article class="text">
          <h2>What is a Mobile Operating System?</h2>
          <p>
            A mobile operating system (OS) is a software similar to an operating system except run on mobile devices. A mobile OS typically starts up when a device powers on, presenting a screen with icons or tiles that present information and provide application
            access. Mobile operating systems also manage cellular and wireless network connectivity, as well as phone access. Most mobile operating systems are tied to specific hardware, with little flexibility. Users can jailbreak or root some devices,
            however, which allows them to install another mobile OS or unlock restricted applications.
          </p>
        </article>
      </div>
      <div class="col-lg-4">
        <article class="text">
          <h2>Types of Operating Systems</h2>
          <p>
            There are many examples of Mobile Operating Systems. Examples include Apple iOS, Google Android, Research in Motion’s BlackBerry OS, Nokia’s Symbian, Hewlett-Packard’s webOS (formerly Palm OS) and Microsoft’s Windows Phone OS. Some, such as Microsoft’s
            Windows 8, function as both a traditional desktop OS and a mobile operating system.
          </p>
        </article>
      </div>
    </div>
  </div>
  <div class="container">
            <p>
          <strong>Sources:</strong>
          <a href="https://searchmobilecomputing.techtarget.com/definition/mobile-operating-system">
                        A guide to modern mobile application development strategies
                    </a>
        </p>
  </div>
  <% include partials/footer.ejs %>