<% include partials/header.ejs %>

  </div>
        <main>
            <figure class="pict">
                <img src="img/apple.jpg" alt="iOS">
            </figure>
            <h2>Apple iOS</h2>
                <p>
                    The iOS operating system is included in Apple's line of smartphones called the iPhone. 
                    When the late Steve Jobs announced the $499 (4GB) and $599 (8GB) iPhones in 2007, consumers 
                    went nuts, lined up in droves, and spawned a new generation of fans eager to be first to 
                    own Apple's latest product. The first iPhone was exclusively licensed to Cingular Wireless. 
                    Which later was merged into AT&T proper.
                    
                </p>
            <article class="text">
                <h2>A bit of History</h2>
                <ol>
                    <li>
                        <h3>iPhone 3G</h3>
                        <p>
                            Launched on June 9, 2008, the iPhone 3G upgraded the 2G connection used by the original 
                            iPhone to a speedier 3G. Also had GPS included
                        </p>
                    </li>
                    <li>
                        <h3>iPhone 3GS</h3>
                        <p>
                            Launched on June 8, 2009, the iPhone 3GS upgraded the processor used by the iPhone 3G, 
                            and added a compass and 7-Mbit HSDPA support. First iPhone to have upraded video supporting 
                            480p videos. Apple's iOS 3.0 also added copy-and-paste functionality, finally.
                        </p>
                    </li>
                    <li>
                        <h3>iPhone 4</h3>
                        <p>
                            On June 7, 2010, Apple announced the iPhone 4. Of  course, who can forget that Gizmodo 
                            obtained a prototype of the phone that was left in a bar, photographed it, tore it down, 
                            and was banned from Apple product launches as a result. When Apple finally launched the 
                            three models of the iPhone at $199 (16GB), $299 (32GB), and $399 (64GB), excitement was 
                            at a fever pitch. The drama escalated when the "grip of death" controversy manifested, 
                            as various outlets (including PCMag) reported that cell signals dropped in fringe areas. 
                            In 2011, Verizon was added as the iPhone's second carrier and the white iPhone made its debut.
                        </p>
                    </li>
                    <li>
                        <h3>iPhone 4S</h3>
                        <p>
                            The iPhone 4S was Apple's latest iPhone added the personal assistant plus support 
                            for iCloud, although the launch was overshadowed by the death of Apple founder Steve Jobs a day 
                            later. A host of smaller improvements were also included. Following the release of the iPhone 4s, 
                            Sprint, Cricket, and other carriers added the iPhone, except for T-Mobile
                        </p>
                    </li>
                    <li>
                        <h3>iPhone 5S</h3>
                        <p>
                            Apple announced two iPhone models in 2013, which was a first. The 5s was considered small at the 
                            time, since so many Android phablets were coming to market. Its major changes from the iPhone 5 
                            were all inside: a faster chip running a 64-bit dual-core processor, a motion coprocessor, and 
                            one feature that truly set the bar for other smartphone makers: the Touch ID fingerprint sensor 
                            built into the Home button. Dual LED flash on the back also improved pictures.
                            The multi-color world started to arrive as well: the back of the iPhone 5s came in white, space 
                            gray, and gold. iOS 7 made it stand out on the market, as the icon redesign gave the whole thing 
                            a new feel.
                        </p>
                    </li>
                    <li>
                        <h3>iPhone 6S and 6S Plus</h3>
                        <p>
                            Apple again announced two phones in 2014. This time iPhone 6 was the baseline model and it managed 
                            to grow a little, getting a 4.7-inch display as well as the usual internal improvements: faster 
                            camera, processor, improved Wi-Fi (802.11ac), and LTE connections.
                            The second iPhone of 2014 showed that Apple knows when to cave in to demand. And the populace 
                            demanded a phablet! The 6 Plus came in at 5.5 inches, but other than a few iPad-like features, 
                            it's pretty much a bigger iPhone 6. But it sold quite well, even with "Bendgate," where it seemed 
                            to bend if it spent too much time in your back pocket.
                        </p>
                    </li>
                    <li>
                        <h3>iPhone 7 and 7 Plus</h3>
                        <p>
                            At first glance, the still-available iPhone 7 and 7 Plus look pretty much the same as the 6s and 6s 
                            Plus before them, but looks can be deceiving.
                            The iPhone 7 lineup added water-resistance, brighter screens, and better cameras (the Plus has dual 
                            12-megapixel rear cameras). And the chips are faster, as usual.
                            The Home button became virtual; taptic feedback provides vibration response. The biggest change: 
                            Apple killed the 3.5mm headphone jack entirely, pushing users to wireless Bluetooth audio like 
                            Apple's AirPods $144.90 at Amazon or a dongle that connects to the Lightning port. 
                            To soften that blow, the 7 and 7 Plus come in extra colors including Jet Black (AKA the shiny 
                            fingerprint collector) and a matte black, as well as the usual gold, rose gold, and silver.
                        </p>
                    </li>
                    <li>
                        <h3>iPhone X</h3>
                        <p>
                            Apple saved a big change for its 10th anniversary: iPhone X (pronounced "ten"). It was the first 
                            iPhone to feature an edge-to-edge, 5.8-inch "Super Retina HD" OLED display already available on 
                            many Android phones. The Home button is gone, and Touch ID was replaced with the facial-biometric 
                            scanning known as Face ID, which adds the now familiar "notch" up top.
                            The price is where it really hurt. The base model shot to $999 for 64GB of storage, making the 
                            thousand-dollar smartphone the norm. 
                        </p>
                    </li>
                </ol>
            </article>
        </main>
   <% include partials/footer.ejs %>