<% include partials/header.ejs %>

  <hr>
  <div class="container">
    <div class="float left">
      <article class="text">
        <figure id="pict">
          <img src="img/windowsphone.jpg" alt="windows" class="center-block" height=auto width="350">
        </figure>
        <div class="col-md-auto">
          <h2>Windows Mobile System</h2>
          <p>
            Windows Phone was a mobile operating System. Developed by Microsoft. First released in 2015, it is a successor to Windows Phone 8.1, but was marketed by Microsoft as being an edition of its PC operating system Windows 10. Windows 10 Mobile aimed to provide
            greater consistency with its counterpart for PCs, including more extensive synchronization of content, Universal Windows Platform apps, as well as the capability, on supported hardware, to connect devices to an external display and use a desktop
            interface with mouse and keyboard input support (reminiscent of Windows on PCs). Microsoft built tools for developers to port iOS Objective-C apps with minimal modifications. Windows Phone was discontinued in the year 2017. With Support ending
            in 2019.
          </p>
          <br>
          <strong>Sources:</strong>
          <a href="https://mobiforge.com/timeline/windows-phone-history">
                        Windows Phone: A Short History
                    </a>
          <br>
        </div>
      </article>
      <br>
      <article class="text">
        <figure id="pict">
          <img src="img/palm.jpg" alt="palm" class="center" height=auto width="175">
        </figure>
        <div class="col-md-auto">
          <h2>Palm Operating System </h2>
          <p>
            Palm OS is a mobileoperating system that provides a software platform for the Palm series of handheld personal digital assistants (PDAs) made by Palm Inc. According to Palm, Palm OS was designed from the beginning to fit into a palm-size device of a specific
            size and with a specific display size. It was adapted from its PDA line of portable planners started in the 90's.
          </p>
          <p>
            <strong>Sources:</strong>
            <br>
            <a href="https://searchmobilecomputing.techtarget.com/definition/Palm-OS">
                        Palm Phone 
                    </a>
          </p>
      </article>
      </div>
    </div>

    <% include partials/footer.ejs %>